{% extends 'base.html' %}
{% block content %}
  <section id="container" >
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-md-12">
            <!--breadcrumbs start -->
            <div class="breadcrumb">
              <h3>Create Ticket</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <section class="panel">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <!--collapse start-->
                    <div class="panel-group m-bot20" id="accordion">
                      <div class="panel">
                        <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <div class="form-group">
                              <div class="col-lg-12 cat" >
                                <div class="form">
                                  <form action="." method="post">
                                    {%csrf_token%}
                                    {% for field in form %}
                                      <div class="form-group ">
                                        <label class="control-label col-lg-3" for="{{ field.name }}">{{ field.label }} :</label>
                                        <div class="col-lg-6">
                                          {{ field }}
                                        </div>
                                      </div>
                                    {% endfor %}
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    <button class="btn btn-default" type="button">Cancel</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--collapse end-->
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>
  </section>
{% endblock content %}
{% block script %}
  <script src="/static/js/masters.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
  console.log(' create categorys');
  $('table').DataTable();
  });
  </script>
{% endblock script %}