{% extends 'base.html' %}
{% block content %}
	<section id="container" >
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-md-12">
						<!--breadcrumbs start -->
						<div class="breadcrumb">
							<h3>Manage Locations</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<section class="panel">
							<div class="panel-body">
								<div class="form">
									<form action="/masters/locations/" method="post" class="cmxform form-horizontal">
										{% csrf_token %}
										<div class="form-group">
											<div class="col-lg-9 cat">
												{{form.as_p}}
											</div>
											<div class="col-lg-3">
												<button class="btn btn-primary" type="submit">Save</button>
												<button class="btn btn-default" type="button">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="panel-body">
								{% if locations %}
									<table class="table table-striped table-hover table-bordered" id="editable-sample">
										<thead>
											<tr>
												<th>Sr No.</th>
												<th>Location</th>
												<th>Created Date</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											{% for location in locations %}
												<tr>
													<td>{{location.id}}</td>
													<td>{{location.name}}</td>
													<td>{{location.created_date}}</td>
													<td class="center">
														{% if location.is_active == '1' %}Active{% else %}Inacvtive{% endif %}
													</td>
													<td>
														<a class="edit" href="{% url 'update_locations' location.id%}" title="Edit">
															<i class="fa fa-fw fa-pencil" title="Edit Machine"></i>
														</a>
														<a class="delete" href="javascript:;" onclick="deleteRecord('{% url 'delete_locations' location.id %}')" title="Delete">
															<i class="fa fa-fw fa-trash-o"></i>
														</a>
														<!-- <a class="delete" href="{% url 'delete_locations' location.id %}" title="Delete"><i class="fa fa-fw fa-trash-o"></i>
														</a> -->
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% else %}
									<p>No locations are available.</p>
								{% endif %}
							</div>
						</section>
					</div>
				</div>
			</section>
		</section>
	</section>
{% endblock content %}
{% block script %}
	<script src="/static/js/masters.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		EditableTable.init();
	});
	</script>
{% endblock script %}