{% extends 'base.html' %}
{% block content %}
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-md-12">
					<!--breadcrumbs start -->
					<div class="breadcrumb">
						<h3>Edit Inquiry Status</h3>
					</div>
				</div>
			</div>
			<!-- page start-->
			<div class="row">
				<div class="col-sm-12">
					<section class="panel">
						<div class="panel-body">
							<div class="form">
								<div class="form-group">
									<div class="col-lg-9 cat">
										<form action="" method="post">
											{%csrf_token%}
											{{form.as_p}}
											<button class="btn btn-primary" type="submit">Update</button>
											<button class="btn btn-default" type="button">Back</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</section>
{% endblock content %}
{% block js %}
	<script type="text/javascript">
	$(document).ready(function() {
	console.log(' create Locations');
	});
	</script>
{% endblock js %}