{% extends 'base.html' %}
{% block content %}
<section id="container" >
	<section id="main-content">
		<section class="wrapper">
			<div class="row">
				<div class="col-md-12">
					<!--breadcrumbs start -->

				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<section class="panel">
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-lg-8 col-lg-offset-2">
									<div class="form">

										<div class="breadcrumb">
											<h3>Manage Tasks Status</h3>
										</div>
										<div class="col-lg-12 cat" >
											<div class="form">
												<form action="/masters/tasks/" method="post" class="cmxform form-horizontal">
													{%csrf_token%}
													{% for field in form %}
													<div class="form-group">
														<label class="control-label col-lg-4" for="{{ field.name }}">{{ field.label }} :</label>
														<div class="col-lg-8">
															{{ field }}

														</div>
													</div>
													{% endfor %}
													<div class="toppad clear right" >
														<button class="btn btn-primary" type="submit">Save</button>
														<button class="btn btn-default" type="button" id="reset">Cancel</button>
													</div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="panel-body">
							{% if results %}
							<table class="table table-striped table-hover table-bordered" id="editable-sample">
								<thead>
									<tr>
										<th>Sr No.</th>
										<th>Tasks Status</th>
										<th>Created Date</th>
										<th>Status</th>
										<th class="center">Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for result in results %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>{{result.status}}</td>
										<td>{{result.created_date}}</td>
										<td class="center">
											{% if result.is_active == '1' %}Active{% else %}Inacvtive{% endif %}
										</td>
										<td class="center">
											<a class="edit" href="{% url 'update_tasks' result.id %}" title="Edit">
												<i class="fa fa-fw fa-pencil" title="Edit Machine"></i>
											</a>
														<!-- <a class="delete" href="{% url 'delete_tasks' result.id %}" title="Delete">
																<i class="fa fa-fw fa-trash-o"></i>
															</a> -->
															<a class="delete" href="javascript:;" onclick="deleteRecord('{% url 'delete_tasks' result.id %}')" title="Delete">
																<i class="fa fa-fw fa-trash-o"></i>
															</a>
														</td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
											{% else %}
											<p class="leftpad">No results are available.</p>
											{% endif %}
										</div>
									</section>
								</div>
							</div>
						</section>
					</section>
				</section>
				{% endblock content %}
				{% block script %}
				<script src="/static/js/masters.js"></script>
				<script type="text/javascript">
				$(document).ready(function() {
					console.log(' create categorys');
					EditableTable.init();
				});
				</script>
				{% endblock script %}
