{% extends 'base.html' %}
{% block content %}
	<section id="main-content">
		<section class="wrapper">
			<!-- page start-->
			<div class="row">
				<div class="col-sm-6">
					<section class="panel">
						<div class="panel-body">
							<h3>Create User</h3>
							<div class="form">
								<form action="/masters/services/add/" method="post">
									{%csrf_token%}
									{{form.as_p}}
									<button class="btn btn-primary" type="submit">Save</button>
									<button class="btn btn-default" type="button">Cancel</button>
								</form>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</section>
{% endblock content %}
{% block js %}
	<script type="text/javascript">
	$(document).ready(function() {
	console.log(' create Locations');
	});
	</script>
{% endblock js %}