{% extends 'base.html' %}
{% block content %}
	<section id="container" >
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-md-12">
						<!--breadcrumbs start -->
						<div class="breadcrumb">
							<h3>Manage Services</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<section class="panel">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<!--collapse start-->
										<div class="panel-group m-bot20" id="accordion">
											<div class="panel">
												<div id="collapseOne" class="panel-collapse collapse in">
													<div class="panel-body">
														<div class="form-group">
															<div class="col-lg-12 cat" >
																<div class="form">
																	<form action="." method="post">
																		{%csrf_token%}
																		{% for field in form %}
																			<div class="form-group ">
																				<label class="control-label col-lg-3" for="{{ field.name }}">{{ field.label }} :</label>
																				<div class="col-lg-6">
																					{{ field }}
																				</div>
																			</div>
																		{% endfor %}
																		<button class="btn btn-primary" type="submit">Save</button>
																		<button class="btn btn-default" type="button">Cancel</button>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!--collapse end-->
										</div>
									</div>
								</div>
							</div>
							<div class="panel-body">
								{% if services %}
									<table class="table table-striped table-hover table-bordered" id="editable-sample">
										<thead>
											<tr>
												<th>Sr No.</th>
												<th>Service Name</th>
												<th>Category Name</th>
												<th>Response Time</th>
												<th>Threshold Time</th>
												<th>Service Hours</th>
												<th>Price(Rs)</th>
												<th>Created Date</th>
												<th>Status</th>
												<th class="center">Actions</th>
											</tr>
										</thead>
										<tbody>
											{% for service in services %}
												<tr>
													<td>{{service.id}}</td>
													<td>{{service.name}}</td>
													<td>{{service.category.name}}</td>
													<td>{{service.response_time}}</td>
													<td>{{service.threshold_time}}</td>
													<td>{{service.service_from}} -- {{service.service_to}} </td>
													<td>{{service.price}}</td>
													<td>{{service.created_date}}</td>
													<td class="center">
														{% if service.is_active == '1' %}Active{% else %}Inacvtive{% endif %}
													</td>
													<td class="center">
														<a class="edit" href="edit/{{service.id}}" title="Edit">
															<i class="fa fa-fw fa-pencil" title="Edit"></i>
														</a>
														<!-- <a class="delete" href="{% url 'delete_service' service.id %}" title="Delete">
																		<i class="fa fa-fw fa-trash-o"></i>
														</a> -->
														<a class="delete" href="javascript:;" onclick="deleteRecord('{% url 'delete_service' service.id %}')" title="Delete">
															<i class="fa fa-fw fa-trash-o"></i>
														</a>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% else %}
									<p class="leftpad">No categories are available.</p>
								{% endif %}
							</div>
						</section>
					</div>
				</div>
			</section>
		</section>
	</section>
{% endblock content %}
{% block script %}
	<script src="/static/js/masters.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		console.log(' create categorys');
		EditableTable.init();
	});
	</script>
{% endblock script %}