{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        <meta charset="utf-8">
        <!--bootstrap cdn-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--bootstrap cdn till here-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
            <title>Empire Business Centre</title>
        {% endblock title %}
        {% block basecss %}
            <link type="text/css" rel="stylesheet" media="screen,projection" href="{% static 'css/base.css' %}">
            <link type="text/css" rel="stylesheet" media="screen,projection" href="{% static 'css/clockpicker.css' %}">
        {% endblock basecss %}
        
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        {% block header %}
            {% include 'header.html' %}
        {% endblock header %}
        
        {% block navigation %}
            {% include 'navigations.html' %}
        {% endblock navigation %}
        {% block content %}
            <div class="container"></div>
        {% endblock content %}
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}
    </body>
    {% block basejs %}
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'js/DT_bootstrap.js' %}"></script>
        <script src="{% static 'js/table-editable.js' %}"></script>
        <script src="{% static 'js/sweetalert.js' %}"></script>
        <script src="{% static 'js/clockpicker.js' %}"></script>
        <script type="text/javascript">

        $(document).ready(function(){
            $('#query').hide();
            $('#user').hide();
            $('#inquiries').hide();
            $('select').on('change', function() {
               ticket_type = this.value;
               customer_type = this.value;
               console.log(ticket_type, customer_type);
               if(ticket_type==='query'){
                    $('#service').hide();
                    $('#inquiries').hide();
                }
               else{
                    $('#service').show();
                    $('#inquiries').show();
               }
               if(ticket_type==='inquiry'){
                    $('#inquiries').show();
                    $('#service').hide();
                }
               else{
                    $('#inquiries').hide();
                    $('#service').show();
               }
               if(customer_type ==='internal'){
                    $('#user').show();
               }

            })
        });


        $('.timepicker').clockpicker({
            twelvehour: true,
            donetext: 'Done'
            });

        
        socket = new WebSocket("ws://" + window.location.host + "/chat/");
        socket.onmessage = function(e) {
            console.log(e);
            data_obj = JSON.parse(e.data)
            //alert(data_obj.count);
            $('#header_notification_bar').text(data_obj.count);


        }


        $('#reset').click(function(){
            $('input:text').val('');
            $('input:password').val('');

        });


        </script>


    {% endblock basejs %}
    {% block script %}
        
    {% endblock script %}
</html>