<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->            <div class="leftside-navigation">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="blankpage.html" class="active">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="blankpage.html">
                    <i class="fa fa-dashboard"></i>
                    <span>Blank page</span>
                </a>
            </li>
            <li>
                <a href="/createuser/">Create user</a>
                <a href="/manageuser/">Manage user</a>
            </li>
            
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>menu</span>
                </a>
                <ul class="sub">
                    <li><a href="#">sub menu1</a></li>
                    <li><a href="#">sub menu2</a></li>
                    <li><a href="#">sub menu3</a></li>
                </ul>
            </li>
        </ul></div>
        <!-- sidebar menu end-->
    </div>
</aside>