<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->            <div class="leftside-navigation">
        <ul class="sidebar-menu" id="nav-accordion">
            <!--li>
                <a href="/dashboard.html" class="active">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/users/">
                    <i class="fa fa-dashboard"></i>
                    <span>Manage Users</span>
                </a>
            </li-->
            <li>
                <a href="/createuser/">
                    <i class="fa fa-user" aria-hidden="true"></i>

Create user</a>
                <a href="/manageuser/">
<i class="fa fa-list-alt" aria-hidden="true"></i>

                    Manage user</a>
                <a href="/createticket/">
<i class="fa fa-ticket" aria-hidden="true"></i>

                    Raise Tickets</a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Manage</span>
                </a>
                <ul class="sub">
                    <li><a href="/masters/locations/">Locations</a></li>
                    <li><a href="/masters/categories/">Categories</a></li>
                    <li><a href="/masters/services/">Services</a></li>
                    <li><a href="/masters/tasks/">Tasks Status</a></li>
                    <li><a href="/masters/inquiry/">Inquiry Status</a></li>
                    <li><a href="/masters/inquiry/sources/">Inquiry Sources</a></li>
                    <li><a href="/masters/departments/">Departments</a></li>
                </ul>
            </li>
        </ul></div>
        <!-- sidebar menu end-->
    </div>
</aside>
