{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=11" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
            <title>Empire Business Centre</title>
        {% endblock title %}
        {% block basecss %}
            <link type="text/css" rel="stylesheet" media="screen,projection" href="{% static 'css/base.css' %}">
        {% endblock basecss %}
        
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        {% block header %}
            {% include 'header.html' %}
        {% endblock header %}
        {% block navigation %}
            {% include 'navigations.html' %}
        {% endblock navigation %}
        {% block content %}
        {% endblock content %}
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}
    </body>
    {% block basejs %}
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

         <!-- SwampDragon -->
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/vendor/sockjs-0.3.4.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/datamapper.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon-vanilla.js"></script>
        <script type="text/javascript" src="http://localhost:9999/settings.js"></script>

        <!-- notifications -->
        <script type="text/javascript" src="{% static 'js/notifications.js' %}"></script>
    {% endblock basejs %}
    {% block js%}
        
    {% endblock js%}
</html>